name: Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: alinashaji-12
          outputs: |
            dist/github-contribution-grid-snake.svg

      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: dist

